<style>
  /* Rulers
——————————————————————————————————————*/

  #ruler_corner {
    background: var(--ruler-color);
    grid-area: corner;
    color: #FFF;
    width: 15px;
    height: 15px;
    overflow: hidden;
  }

  #ruler_x {
    background: var(--ruler-color);
    grid-area: rulerX;
    height: 15px;
    overflow: hidden;
  }

  #ruler_y {
    background: var(--ruler-color);
    grid-area: rulerY;
    width: 15px;
    overflow: hidden;
  }

  #ruler_x canvas {
    float: left;
  }
</style>
<div id="ruler_corner"></div>
<div id="ruler_x">
  <div>
    <canvas height="15"></canvas>
  </div>
</div>
<div id="ruler_y">
  <div>
    <canvas width="15"></canvas>
  </div>
</div>
